:root{
    --color:rgb(55, 0, 255);
    --theme:rgb(255, 85, 0);
}
body{
    margin: 0px;
    padding:0px;
    background-color: var(--theme);
}

.mainimage{
 height: 450px;
 width:100%;
background-image: url("images/lukas-blazek-f-TWhXOrLiU-unsplash.jpg");
background-position: center;
background-repeat: no-repeat;
background-size:cover;
overflow: hidden;


}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 100px;
    width: 120px;
    margin: 30px;
    /* mix-blend-mode: multiply; */
   box-shadow: 10px 10px 30px 5px black;
}
.nav{
    display: flex;
    gap: 10px;
    margin: 10px 60px ;
}

.navitems{
font-weight: bold;
font-family: 'Poppins', sans-serif;
margin: 10px 15px;
overflow: hidden;

}
.navitems span{
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    color: var(--theme);
    text-shadow: 2px 2px 5px 2px black;

}
.navitems span:hover{
    background-color: rgba(0, 0, 0, 0.402);
    border-radius: 10px;
}
.content{
    text-align: center;
    font-size: 40px;
font-family: 'Poppins', sans-serif;
font-weight: lighter;
  }
.content span{
color: red;
}
/* card  */
#cardcontainer{
 display: flex;
 font-family: 'Poppins', sans-serif;
 justify-content: space-evenly;
 flex-wrap: wrap;
 
 width: 100%;

}
.card{
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 10px 1px black;

}

.card img{
height: 200px;
width: 270px;
margin: 10px;
border-radius: 20px;
border: none;

}
.cardcontent span:first-child{
   font-size: 20px ;
   font-weight: lighter;
   margin: 10px;
   letter-spacing: 2px;
}
.cardcontent span:nth-child(2){
    float: right;
    margin: 10px;
}
.cardcontent div{
    font-weight: lighter;
    margin: 10px;

}

/* cart button .................  */
.cardcontent button{
    padding: 5px 20px ;
    font-weight: bold;
    border-radius: 10px;
    color: var(--theme);
    font-size: 20px;
  margin: 10px 0px 10px 100px;
  border: none;
  background-color: rgba(0, 0, 0, 0.952);
}
.cardcontent button:hover{
    background-color: rgba(0, 0, 0, 0.724);
}


/* offer.............................. */
.offer{
    text-align: center;
    background-color:gray;
    padding: 30px;
    margin-top: 50px;

}
.offer span{
    font-size: 30px;
 font-family: 'Poppins', sans-serif;
}

.offer span span{
    color: red;
    font-weight: bolder;
}

/* image cart */
#imagecard{
    width: 100%;
    flex-wrap: nowrap;
    background-color: white;
    
}
#imagecard h2{
 font-family: 'Poppins', sans-serif;
 font-weight: lighter;
 margin: 30px ;
 padding-top: 15px;

}
.explore{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    row-gap: 20px;

}

.explore div div:first-child{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("https://source.unsplash.com/featured?fox");
    background-size: cover;
    
}
#thali{
    background-image: url("https://source.unsplash.com/featured?food");
}
#chinesFood{
    background-image: url("https://source.unsplash.com/featured?chinese food");
}
#southIndian{
    background-image: url("https://source.unsplash.com/featured?southIndianfood");
}
#breakfast{
    background-image: url("https://source.unsplash.com/featured?breakfast");
}
#salad{
    background-image: url("https://source.unsplash.com/featured?salad");
}
.explore div div:nth-child(2){
    text-align: center;
    text-transform: uppercase;
 font-family: 'Poppins', sans-serif;
 font-weight: lighter;
 margin-top: 10px;
    
}
.explore div div:first-child:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.more{
    background-color: rgba(128, 128, 128, 0.27);
    text-align: center;
 font-family: 'Poppins', sans-serif;
margin: 10px 0px;
padding: 10px;
}

/* footer */
#footer{
    display: flex;
}
.foot:nth-child(1){
    background-image: url("images/gr11gb55-grab-food-logo-grabfood-logo-download-vector.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    height: 40px;
    
}
.foot:nth-child(2){
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.foot{
    height: 100px;
    width: 33.3%;
}
.fa {
    padding: 8px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: rgb(0, 0, 0);
  }
  
  /* Twitter */
  .fa-twitter {
    color:black;
  }
  .fa-youtube{
  color:black;
  }
  .fa-linkedin{
    color: black;
  }
  .fa-reddit{
    color: black;
  }